.button {
    border: unset;
    border-radius: 12.41px;
    padding: 18px 31px 17px 30px;
    font-family: Poppins, sans-serif;
    font-size: 16.27px;
    font-weight: 500;
    line-height: 24px;
    display: flex;
    align-items: center;
    column-gap: 14.91px;
    cursor: pointer;
    text-decoration: none;
    width: fit-content;
}

.buttonThemePrimary {
    background: var(--color-primary);
    color: var(--white);
}

.buttonThemePrimary:hover {
    background: #8783d1;
}

.buttonThemeSecondary {
    background: var(--white);
    color: var(--color-primary);
    border: 1.5px solid rgb(108, 95, 188);
}

.buttonThemeSecondary:hover {
    color: #8783d1;
    border-color: #8783d1;
}

.buttonThemeWithIcon {
    composes: buttonThemePrimary;
    padding: 18px 26px 17.91px 26px;
    border-radius: 14.68px;
    font-size: 18.06px;
    line-height: 22.58px;
}

@media (max-width: 580px) {
    .button {
        padding: 12px 20px;
    }
}
