.banner {
    display: flex;
    column-gap: 37px;
    height: 540px;
    align-items: center;
}

.descriptionBlock {
    flex: 0 0 568px;
}

.bannerImgBlock {
    flex: 0 0 645px;
    height: 100%;
}

@media (max-width: 1404px) {
    .descriptionBlock {
        flex-shrink: 1;
    }

    .bannerImgBlock {
        flex-shrink: 1;
    }
}

@media (max-width: 1100px) {
    .banner {
        height: auto;
    }

    .bannerImgBlock {
        display: none;
    }
}
