.menuLink {
    font-family: Inter, sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 26.74px;
    text-decoration: none;
}

.menuLink:hover {
    text-shadow: 0 0 1px rgb(96, 96, 96);
}
