.infoBlock {
    display: flex;
    align-items: center;
    column-gap: 283px;
    border-bottom: 1px solid var(--grey-text);
    padding-bottom: 112.5px;
    padding-left: 111px;
}

.imageBlock {
    position: relative;
    flex: 0 0 308px;
}

.imageBlock::after {
    content: '';
    background-image: url("data:image/svg+xml,%0A%3Csvg width='55.118164' height='61.736328' viewBox='0 0 55.1182 61.7363' fill='none' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cdefs/%3E%3Cpath id='Vector' d='M28.7314 8.28711C19.3252 12.6113 10.5068 17.9209 1.3291 22.6494' stroke='%236C5FBC' stroke-opacity='1.000000' stroke-width='2.650000' stroke-linejoin='round' stroke-linecap='round'/%3E%3Cpath id='Vector' d='M53.793 22.7002C36.9697 24.3887 20.0703 27.9375 3.7207 32.1357' stroke='%236C5FBC' stroke-opacity='1.000000' stroke-width='2.650000' stroke-linejoin='round' stroke-linecap='round'/%3E%3Cpath id='Vector' d='M42.2676 49.8174C31.541 45.3955 14.6318 43.876 2.75684 42.0811' stroke='%236C5FBC' stroke-opacity='1.000000' stroke-width='2.650000' stroke-linejoin='round' stroke-linecap='round'/%3E%3C/svg%3E%0A");
    position: absolute;
    width: 55px;
    height: 62px;
    top: -20px;
    right: -70px;
}

.image {
    width: 100%;
}

.description {
    flex: 0 1 520px;
}

.heading {
    margin-bottom: 64.06px;
}

.list {
    margin-bottom: 69px;
}

.button {
    position: relative;
    display: inline-block;
}

.button::after {
    content: '';
    position: absolute;
    background-image: url("data:image/svg+xml,%0A%3Csvg width='169.252930' height='60.026367' viewBox='0 0 169.253 60.0264' fill='none' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cdefs/%3E%3Cpath id='Vector 14' d='M167.926 5.08594C167.926 5.08594 158.592 33.75 134.887 37.4902C116.623 40.3711 95.7285 30.7852 95.6084 15.5898C95.5713 10.9521 99.3379 1.91211 107.374 1.35547C114.899 0.834961 118.299 7.41016 119.863 11.7402C126.389 29.8086 105.637 44.8145 86.542 46.9229C70.123 48.7354 51.71 40.8467 50.7656 24.3545C50.459 19.002 53.3369 14.8984 59.2764 13.3887C65.0654 11.917 68.9863 15.7627 71.5186 21.1729C80.4189 40.1943 52.1553 60.1035 33.502 58.6182C18.8613 57.4521 2.04785 39.0693 2.04785 39.0693M6.29199 51.1787L2.04785 39.0693L13.9482 41.8408' stroke='%236C5FBC' stroke-opacity='1.000000' stroke-width='2.650000'/%3E%3C/svg%3E%0A");
    width: 169px;
    height: 60px;
    right: -145px;
    bottom: -43px;
}

@media (max-width: 1404px) {
    .infoBlock {
        padding-left: 0;
        column-gap: 200px;
    }
}

@media (max-width: 1100px) {
    .infoBlock {
        column-gap: 100px;
        flex-wrap: wrap;
        justify-content: center;
        row-gap: 34px;
    }

    .imageBlock {
        flex: 0 1 auto;
    }
}

@media (max-width: 580px) {
    .infoBlock {
        column-gap: 100px;
        flex-wrap: wrap;
        justify-content: center;
        row-gap: 34px;
    }

    .imageBlock {
        flex: 0 1 200px;
    }

    .heading {
        margin-bottom: 32px;
    }

    .list {
        margin-bottom: 32px;
    }
}
