.post {
    margin: 0 96px;
}

.detail {
    margin-bottom: 90px;
}

.btn {
    display: inline-block;
    margin-bottom: 100px;
}

.commentsBlock {
    padding: 0 54px;
    margin-bottom: 113px;
}

.commentsHead {
    margin-bottom: 77px;
}

.comments {
    display: flex;
    flex-direction: column;
    row-gap: 118px;
}

.comment {
    box-shadow: 7px 0 46px -24px #000;
}

.commentsSkeleton {
    display: flex;
    flex-direction: column;
    row-gap: 50px;
}

@media (max-width: 1100px) {
    .commentsBlock {
        padding: 0 12px;
    }
}

@media (max-width: 580px) {
    .post {
        margin: 0 15px;
    }

    .detail {
        margin-bottom: 45px;
    }

    .btn {
        margin-bottom: 50px;
    }

    .commentsHead {
        margin-bottom: 34px;
    }

    .comments {
        row-gap: 60px;
    }
}
