.bannerBlock {
    margin: 0 58.52px 127px 96px;
}

.advantagesBlock {
    margin-bottom: 103.5px;
}

.infoBlock {
    margin: 0 97px 74.5px;
}

.topRecipesBlock {
    margin: 0 97px 120px;
}

.presentationDashboardBlock {
    margin: 0 79px 91px 112px;
}

.reviewsBlock {
    margin: 0 0 237px 117px;
}

.faqBlock {
    margin: 0 144px 163px 144px;
}

@media (max-width: 1100px) {
    .reviewsBlock {
        margin: 0 15px 150px 15px;
    }

    .faqBlock {
        margin: 0 15px 100px 15px;
    }
}

@media (max-width: 580px) {
    .bannerBlock {
        margin: 0 15px 44px 15px;
    }

    .advantagesBlock {
        margin-bottom: 44px;
    }

    .infoBlock {
        margin: 0 15px 50px;
    }

    .topRecipesBlock {
        margin: 0 15px 65px;
    }

    .presentationDashboardBlock {
        margin: 0 15px 40px 15px;
    }

}
