.bannerBlock {
    margin: 0 58.52px 89px 96px;
}

.advantagesBlock {
    margin-bottom: 103.5px;
}

.infoBlock {
    margin: 0 97px 100.5px;
}

.topRecipesBlock {
    margin: 0 97px 134.5px;
}

.presentationDashboardBlock {
    margin: 0 79px 116.5px 115px;
}

.reviewsBlock {
    margin: 0 0 224px 117px;
}

.faqBlock {
    margin: 0 144px 189.51px 144px;
}
