.ul {
    padding-left: 27px;
}

.li {
    color: rgb(103, 103, 103);
    font-family: Inter, sans-serif;
    font-size: 20.33px;
    font-weight: 400;
    line-height: 30.5px;
}

.li:not(:last-child) {
    margin-bottom: 26.94px;
}
