.blog {
    margin: 0 96px 191px;
    padding: 0 17px 0 20px;
}

.heading {
    text-align: center;
    margin-bottom: 75px;
}

@media (max-width: 1100px) {
    .blog {
        margin: 0 15px 80px 15px;
    }
}
