.topRecipes {
    text-align: center;
    padding-bottom: 119.5px;
    border-bottom: 1px solid var(--grey-text);
}

.heading {
    margin-bottom: 85px;
}

.topRecipesList {
    display: flex;
    column-gap: 30px;
}

.link {
    margin-top: 65.7px;
    display: flex;
    justify-content: flex-end;
}
